/* navbar styles */
.navbar-default {
background-color: transparent;
border: none;
}
.navbar-default
.navbar-nav>.active>a,
.navbar-default
.navbar-nav>.active>a:haver {
  color: #fff;
background-color: rgba(0,0,0, .6);
text-shadow: 1px 1 px 1 px #000;
}

.navbar-default
.navbar-na>li>
{color #fff;
text shadow: 1px 1 px 1 px #000;}
